/* Civic Camp */

body {
	padding: 0em;
	background-color: #d04e4e;
	margin: 0;
}
	

p {
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-weight: 200;
	 font-size: 1.25em;
}

p a {
	color: white;
	border-bottom: 1px dotted white;
	text-decoration: none;
}

#page {
	text-align: center;
	display: block;
	margin-top: 1%;
	margin-left: auto;
	width: 500px;
	margin-right: auto;
}


p.name {
  color: white;
  font-weight: 100;
 	font-size: 2.5em;
	margin-top: 33%;
	margin: 0;
	padding: 0;
}

p.date {
  color: white;
  font-weight: 100;
 	font-size: 1.75em;
	margin: .5rem 0;
	padding: 0;
}

p.venue {
  color: white;
  font-weight: 100;
 	font-size: 1.5em;
	margin: 0 0 1em;
	padding: 0;
}

p.updates {
  color: white;
  font-weight: 300;
 	font-size: 1em;
	margin: 1em 0;
	padding: 0;
}

 
#logo {
	width: 120px;
	height: auto;
	margin: 0 auto;
	padding: 1em;
}


.header {
	width: 100%;
	text-align: center;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 300;
	padding: 1em;
}


.header .icon-links {
	float: right;
	padding-right: 2em;
}

.header .icon-links a {
	padding: .25em;
	display: inline-block;
	color: white;
}

#updated {
	position: absolute;
	right: 0;
	bottom: 0;
	color: white;
	padding: .75em;
	font: 11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


.row.white {
	background-color: white;
	padding: 1.5em;
}

.row.white p {
  color: #921e09;
  font-size: .95rem;
	text-align: center;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}



#tickets p.ticket-footer {
	font-size: .75rem;
}




/* SPEAKER */

.speakers h2 {
	font-weight: bold;
	color: white;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.speakers {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	text-align: center;
	vertical-align: top;

}

.speaker {
	border: 1px solid white;
	width: 400px;
	display: inline-block;
	margin-right: .5rem;
	margin-left: .5rem;
	vertical-align: top;
	margin-bottom: 1rem;
	text-align: left;
	background-color: #921e09;
}

.speaker .photo {
	display: inline-block;
	width: 150px;
	vertical-align: top;
}


.speaker .photo img {
	width: 100%;
	height: auto;
	border-right: 1px solid silver;
}

.speaker .details {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: .5rem .25rem;
	width: 240px;
}

.speaker p {
	margin-top: 0;
	margin-bottom: 0;
}

.speaker p.name {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: .25rem;
}

.speaker p.org {
	font-size: .9rem;
	margin-bottom: .5rem;
}

.speaker p.role {
	font-size: .75rem;
	font-style: italic;
}


/* BLOCKS */

#blocks {
	margin-top: 1em;
	clear: both;
}


#register p,
#register a {
	color: #FFF;
	font-size: .85rem;
}

#register a {
	border-bottom: 1px dotted #fff;	
}

/* BLOCKS - Newsletter */

.block {
	width: 90%;
	margin: 2em 5% 1em;
  vertical-align: top;
}

.block h4 {
	color: #FFF;
  font: bold 1.25rem "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #921e09;
	padding: .5em;
	margin: 0 0 1em;
}

.block-inner {
  border: 1px solid #921e09;
  padding: ;
	margin: 1em;
	height: 320px;
	vertical-align: top;
	background-color: white;
}

.block p {
	color: #921e09;
	font-size: .95rem;
	padding-right: 1em;
	padding-left: 1em;
}

.block a {
	color: #921e09;
	border-bottom: 1px dotted #fff;
}

.block h2 {
	color: teal;
  font: normal .85rem "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}

#newsletter {
	padding-bottom: 0;
}

#community h4 {
	text-align: center;
}

#community p {
	padding-right: 1.5em;
	padding-left: 1.5em;
	text-align: center;
}

h4.block-title {
	color: white;
	font: bold 1.25rem "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0;
	padding-left: .5em;
	text-align: left;
}

@media only screen and (min-width: 768px) {


  
}

@media only screen and (min-width: 1024px) {

	.row.white p {
		width: 50%;
		margin-right: auto;
		margin-left: auto;
	}

   .block { 
    display: inline-block;
   	width: 23%;
   	margin-right: .5%;
   	margin-left: .5%;
   }

   #tickets { 
   	 width: 50%;
   }

}

.tito-wrapper {
	padding: 0;
}


